<!DOCTYPE html>
<html lang="en">
    <head>
        <title> User Page</title>
    </head>
    <body>
        <h1> Welcome {{user_name |title}} </h1>
        <a href="https://www.example.com" id="exampleLink" title = "visit example.com">Visit Example.com</a>
        <p> I can write something better but I have chosen this</p>

        <div id ="header" class="container" style="background-color: lightblue; padding:20px;" title="Header Section">
            <h2 lang ="en">Hello World</h2>
            <p> This is a sample paragraph inside the header section. You can add more content here as needed.</p>
        </div>

        <table border="1" style="width:100%; border-collapse: collapse; margin-top: 10px;" title="Student Marks Table" cellpadding="10" cellspaing ="0">
                <tr>
                    <th></th>
                    <th> Name</th>
                    <th> Roll No</th>
                    <th> Courses</th>
                    <th colspan="3"> Total Marks</th>
                    <th> Percentage</th>
                </tr>

                <tr>
                <td rowspan="3"> Top 3 Students</td>
                <td>Praveen Mishra </td>
                <td> 12345 </td>
                <td> Physics, Chemistry, Maths </td><br>
                <td> 79</td>
                <td> 89</td>
                <td> 95</td>
                
                <td>87.66</td>
                </tr>
                <tr>

                <td> Rama Krishna Iyer </td>
                <td> 12346 </td>
                <td> Physics, Chemistry, Maths </td><br>
                <td> 96 </td>
                <td> 77 </td>
                <td> 89 </td>
                <td> 87.33</td>


                </tr>
                <tr>

                <td> Nagarjuna Nair</td>
                <td> 12347 </td>
                <td> Physics, Chemistry, Maths </td><br>
                <td> 75</td>
                <td> 97</td>
                <td> 98 </td>
                
                <td>90</td>
                </tr>

                
        </table>
        <p> This is <em>emphasized</em> text.</p>
        <p>This is <i>italicized</i> text.</p>
        <p>This is <mark>highlighted</mark> text.</p>
        <p>This is <ins>inserted</ins> text.<p>

    </body>
    </html>